/* Add CSS Styling */
p.odd 
    {
    background-color: #ffb6c1;
    font-family: "Verdana, DejaVu Sans", sans-serif;

    }


#second {
        color: #000fff;
        font-size: 36px;
}

#third{
    font-size: 24px;
}    

#fourth {
        background-color: #90ee90;
        font-size: 24px;
        font-weight: bold;
}