body {
  background: #eee;
  font-family: sans-serif;
}


.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px;
  font-size: 16px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 12px;
  padding: 12px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 12px;
  padding: 12px;
  padding-right: 6px;

}

.button-container {
  background: #e3f4ff;
  margin: auto;
  padding: 12px;
  text-align: center;
  
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 18px;
}